.table td {
    vertical-align: bottom;
    padding: 7px;
    text-align: center;
}

thead{
    background-color: darkblue;
    height: 30px;
    color: white;
    position: sticky;
    top: 0px;
}

.table tr:nth-child(even){
    background-color: lightblue;
}
.table table{
    width: 100%;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    border : solid 2px darkblue;
}

.table{
    border-radius: 10px;
    overflow-y: scroll;
}