button,input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}
button:hover,input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: darkblue;
}