nav h1, a {
    color: white;
}
a {
    text-decoration: none;
    padding: 10px;
}
a:hover {
    text-decoration: underline;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 10px;
}