body{
    background-color: #E3F2FD;
}

h1 {
    text-align: center;
    color: darkblue;
}

.addmedicine, .cart {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.addmedicine{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.addmedicine table{
        width: 60%;
}
